{% extends 'layout.html' %}

{% block body %}

    <h2> Welcome to your School Virtual Campus</h2>

    <p> School Values
These values were developed in consultation with the school community. The school values are:

A high standard of teaching and learning
A safe and welcoming environment
Family and community involvement
School Motto
The school motto was adopted on Harmony Day 2005 where a new school song, created by Ken Brodie, was performed. CARE in the school motto stands for:

Commitment to Learning
Accepting Responsibility
Respect for self, others and the environment
Excellence in all we do

The Front Office
The Front Office is the main contact point for all visitors and parents and is open 7.45am – 4pm, Monday to Friday during the school term. Office staff can advise parents on most school matters and procedures. Services include enrolments, payment of contribution, purchase of school uniforms and forwarding messages to students. If collecting children early from classes, please do so through the front office.

Meetings with the Principal or other Teaching Staff are usually arranged through the Front Office</p>

{% endblock %}